.picker__date-display {
  background-color: $orange;
}

#selectedTime::-webkit-input-placeholder {
  color: $white;
}

.clockpicker-canvas-bearing{stroke:none;fill: $orange
}  .clockpicker-canvas-bg{stroke:none;fill:$orange}  .clockpicker-canvas-bg-trans{fill:$orange}  .clockpicker-canvas line{stroke:$orange;stroke-width:4;stroke-linecap:round}
