/* _-_-_- layout/FORMS -_-_-_ */
[type="radio"]:not(:checked)+label {
  font-size: $small-font-size;
}

[type="radio"]:checked+label {
  font-size: $selected-font-size;
}
.radio-orange[type="radio"]:checked + label:after{
  border: $light-border solid $orange;
  background-color: $orange;
}

/* label color */
.input-field label {
  color: $black;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $black;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: $thin-border solid $white;
  box-shadow: 0 $thin-border 0 0 $white;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: $thin-border solid $white;
  box-shadow: 0 $thin-border 0 0 $white;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: $thin-border solid $white;
  box-shadow: 0 $thin-border 0 0 $white;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $white;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: $white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: $thin-border solid $white;
  box-shadow: 0 $thin-border 0 0 $white;
}

.orange-bg .select-wrapper, .orange-bg input.select-dropdown, .orange-bg input {
  border-bottom: none;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: none;
}
